.overlay {
  position: fixed;
  top: -80px;
  right: -80px;
  bottom: -80px;
  left: -80px;
  pointer-events: none;
  z-index: 0; /* Changed from -1 to 0 so it's above root background but below content */
  overflow: visible;
}

.item {
  position: absolute;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  pointer-events: none;
  background-color: transparent;
}

.item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

/* Intensity modifiers - currently not used, opacity controlled by preset */
.intensitySubtle .item {
  /* Opacity controlled by preset */
}

.intensityMedium .item {
  /* Opacity controlled by preset */
}
