.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 20px;
  color: var(--color-text-secondary);
  /* background-color: var(--color-background); */
  border-radius: var(--border-radius);
}

.container a {
  color: var(--color-primary);
  text-decoration: underline;
}

.container a:hover {
  color: var(--color-red-dark);
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-text-primary);
}

.subtitle {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--color-text-primary);
}

.description {
  line-height: 1.6;
  margin-bottom: 20px;
}

.description a {
  color: var(--color-primary);
  text-decoration: underline;
}

.description a:hover {
  color: var(--color-red-dark);
}

.list {
  margin-left: 20px;
  margin-bottom: 20px;
}

.list li {
  margin-bottom: 10px;
}

.contact a {
  color: var(--color-primary);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}
